*

!.gitignore
!starship.toml

!aerospace/
!aerospace/**

!gh/
!gh/**

!ghostty/
!ghostty/**

!helix/
!helix/**

!karabiner/
!karabiner/**

!nushell/
!nushell/**
nushell/history.txt
nushell/autoload/env.nu
nushell/autoload/secret.nu

!zed/
!zed/**

!kitty
!kitty/**
