"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$character
"""

add_newline = false

palette = "rose-pine"

[palettes.rose-pine]
subtle = '#908caa'
text = '#e0def4'
overlay = '#26233a'
love = '#eb6f92'
gold = '#f6c177'
rose = '#ebbcba'
pine = '#31748f'
foam = '#9ccfd8'
iris = '#c4a7e7'

[directory]
style = "text"

[character]
success_symbol = "[❯](foam)"
error_symbol = "[❯](love)"

[git_branch]
format = "[$branch]($style)"
style = "pine"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "pine"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "subtle"

[cmd_duration]
format = "[$duration]($style) "
style = "rose"
