theme = "rose_pine"

[editor]
line-number = "relative"
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
git-ignore = false
ignore = true

[editor.soft-wrap]
enable = true

[editor.indent-guides]
render = true
skip-levels = 1

[editor.inline-diagnostics]
cursor-line = "hint"
other-lines = "info"

[editor.auto-save]
after-delay.enable = true
after-delay.timeout = 500

[editor.lsp]
snippets = true

[keys.normal]
"C-j" = [
    "scroll_down"
]
"C-k" = [
    "scroll_up"
]
"C-r" = [
    ":config-reload",
    ":reload-all"
]
"C-f" = [
    ":format"
]

