theme = "rose_pine"

[editor]
line-number = "relative"
mouse = true
bufferline = "always"
end-of-line-diagnostics = "hint"

[editor.statusline]
left = ["mode", "file-name", "spinner"]

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
git-ignore = false
ignore = true

[editor.soft-wrap]
enable = true

[editor.indent-guides]
render = true
skip-levels = 1

[editor.inline-diagnostics]
cursor-line = "hint"
other-lines = "disable"

[editor.auto-save]
after-delay.enable = true
after-delay.timeout = 500

[editor.lsp]
snippets = true

[keys.normal]
"C-j" = ["scroll_down"]
"C-k" = ["scroll_up"]
"C-r" = [":config-reload", ":reload-all"]
"C-f" = [":format"]

[keys.normal.space]
e = [
  ":sh rm -f /tmp/unique-file-h21a434",
  ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
  ":insert-output echo \"x1b[?1049h\" > /dev/tty",
  ":open %sh{cat /tmp/unique-file-h21a434}",
  ":redraw",
]
